@model GetFeatureByIdDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
	<div class="section-body">
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12">
				<div class="card">
					<div class="card-header">
						<h4>Öne Çıkan Alanını Güncelleme Sayfası</h4>
					</div>
					<div class="card-body">
						<form method="post">
							<div class="form-group">
								<input type="hidden" asp-for="FeatureId" />
								<label>Başlık</label>
								<input type="text" class="form-control" asp-for="Title">
								<br />
								<label>Alt Başlık</label>
								<input type="text" class="form-control" asp-for="Subtitle">
								<br />
								<label>Açıklama</label>
								<input type="text" class="form-control" asp-for="Description">
								<br />
								<label>Image Url<code>Lütfen kaydetmek istediğiniz görselin URL uzantısını buraya yapıştırın!</code></label>
								<input type="text" class="form-control" asp-for="ImageUrl">
								<br />
								<label>Video Url<code>Lütfen kaydetmek istediğiniz videonun URL uzantısını buraya yapıştırın!</code></label>
								<input type="text" class="form-control" asp-for="VideoUrl">
								<br />
								<button class="btn btn-primary">Öne Çıkan Alanını Güncelle</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

