
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadDefaultComponentPartial")

<body class="index-page">

    @await Component.InvokeAsync("_NavbarDefaultComponentPartial")

    <main class="main">

        <!-- Hero Section -->
        @await Component.InvokeAsync("_FeatureDefaultComponentPartial")
        <!-- /Hero Section -->

        <!-- About Section -->
        @await Component.InvokeAsync("_AboutDefaultComponentPartial")
        <!-- /About Section -->

        <!-- Why Us Section -->
		@await Component.InvokeAsync("_ServiceDefaultComponentPartial")
        <!-- /Why Us Section -->

        <!-- Stats Section -->
        <section id="stats" class="stats section dark-background">

            <img src="assets/img/stats-bg.jpg" alt="" data-aos="fade-in">

            <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Clients</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Projects</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Hours Of Support</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Workers</p>
                        </div>
                    </div><!-- End Stats Item -->

                </div>

            </div>

        </section>
        <!-- /Stats Section -->

        <!-- Menu Section -->
        @await Component.InvokeAsync("_DefaultMenuCategoryViewComponentPartial")
        <!-- /Menu Section -->

        <!-- Testimonials Section -->
		@await Component.InvokeAsync("_DefaultTestimonialComponentPartial")
        <!-- /Testimonials Section -->

        <!-- Events Section -->
		@await Component.InvokeAsync("_EventDefaultComponentPartial")
        <!-- /Events Section -->

        <!-- Chefs Section -->
        @await Component.InvokeAsync("_ChefDefaultComponentPartial")
        <!-- /Chefs Section -->

        <!-- Book A Table Section -->
		@await Html.PartialAsync("~/Views/Reservation/CreateReservation.cshtml")
        <!-- /Book A Table Section -->
        
        <!-- Gallery Section -->
        @await Component.InvokeAsync("_GalleryDefaultComponentPartial")
        <!-- /Gallery Section -->

        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>İletişim</h2>
                <p><span>Yardıma mı ihtiyacın var?</span> <span class="description-title">Bizimle İletişime Geçin</span></p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <!-- Contact Section -->
                @await Component.InvokeAsync("_ContactDefaultComponentPartial")
                <!-- /Contact Section -->

                <!-- Message Section -->
                @await Html.PartialAsync("~/Views/Message/CreateMessage.cshtml")
                <!-- /Message Section -->

            </div>

        </section><!-- /Contact Section -->

        <!-- Footer Section -->
        @await Component.InvokeAsync("_FooterDefaultComponentPartial")
        <!-- /Footer Section -->
    </main>

    

</body>

</html>