@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Head Admin Layout -->
@await Component.InvokeAsync("_HeadAdminLayoutComponentPartial")
<!-- Head Admin Layout -->

<body>
	<div class="loader"></div>
	<div id="app">
		<div class="main-wrapper main-wrapper-1">

			<!-- Navbar Admin Layout -->
			@await Component.InvokeAsync("_NavbarAdminLayoutComponentPartial")
			<!-- Navbar Admin Layout -->

			<!-- Siderbar Admin Layout -->
			@await Component.InvokeAsync("_SiderbarAdminLayoutComponentPartial")
			<!-- Siderbar Admin Layout -->

			<!-- Main Content -->
			<div class="main-content">

				@RenderBody()

				<!-- Right Settings Admin Layout -->
				@await Component.InvokeAsync("_RightSettingsAdminLayoutComponentPartial")
				<!-- Right Settings Admin Layout -->

			</div>
			<!-- Main Content -->

			<footer class="main-footer">
				<div class="footer-left">
					<a href="templateshub.net">Templateshub</a></a>
				</div>
				<div class="footer-right">
				</div>
			</footer>
		</div>
	</div>
	<!-- General JS Scripts -->
	<script src="/otika-bootstrap-admin-template/assets/js/app.min.js"></script>
	<!-- JS Libraies -->
	<!-- Page Specific JS File -->
	<!-- Template JS File -->
	<script src="/otika-bootstrap-admin-template/assets/js/scripts.js"></script>
	<!-- Custom JS File -->
	<script src="/otika-bootstrap-admin-template/assets/js/custom.js"></script>
	<script src="/otika-bootstrap-admin-template/assets/bundles/summernote/summernote-bs4.js"></script>
</body>


<!-- basic-table.html  21 Nov 2019 03:55:20 GMT -->
</html>
