@model UpdateChefDto
@{
    ViewData["Title"] = "UpdateChef";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Şef Güncelleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="ChefId" />
                            <input type="hidden" asp-for="ExistingImageUrl" />
                            <div class="form-group">
                                <label>Şef Ad ve Soyad</label>
                                <input type="text" class="form-control" asp-for="NameSurname">
                                <br />
                                <label>Başlık</label>
                                <input type="text" class="form-control" asp-for="Title">
                                <br />
                                <label>Açıklama</label>
                                <input type="text" class="form-control" asp-for="Description">
                                <br />
                                <label>Mevcut Görsel</label>
                                @if (!string.IsNullOrEmpty(Model.ExistingImageUrl))
                                {
                                    <div>
                                        <img src="@Model.ExistingImageUrl" alt="Mevcut Görsel" style="max-width: 200px;" />
                                    </div>
                                }
                                <br />
                                <label>Yeni Görsel (isteğe bağlı)</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="ImageFile" asp-for="ImageFile">
                                    <label class="custom-file-label" for="ImageFile">Dosya Seç</label>
                                </div>        
                                <br />
                                <br />
                                <button class="btn btn-primary">Şefin Bilgilerini Güncelle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        // Seçilen dosya adını dosya giriş etiketinde güncelleyin
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}


